
#d1{
    background-color: green;
    width: 400px; 
    height: 300px;
    /* margin: 10px; */
    /* margin: 10px 20px 30px 40px;  */
    padding: 10px;
    /* padding: 10px 20px;
    padding: 10px 20px 30px 40px; */
    position: relative;
    left: 400px;
}
#d2{
    background-color: red;
    width: 150px; 
    height: 150px;
    position: absolute;
    left: 130px;
    top: 80px;
    border-radius: 100%;
}
#d4{
    background-color: rgb(0, 0, 255);
    width: 150px; 
    height: 150px;
}
.c1{
    background-color: yellow;
    width: 100px; 
    height: 100px;
}